.statement_parent {
  display: flex;

  margin-top: 5rem;
  margin-bottom: 15px;
  max-width: 50%;
  justify-content: center;
  margin-inline: auto;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.statement_child_part {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h4 {
    max-width: 90%;
    font-size: 14px;
  }
}

.line_one {
  width: 2px;
  height: 100px;
  color: black;
  background-color: black;
}
.line_two {
  display: flex;
  align-items: flex-end;
  width: 2px;
  height: 100px;
  background-color: black;
}

@media only screen and (min-width: 1280px) {
  .statement_parent {
    display: flex;

    margin-top: 15px;
    margin-bottom: 15px;

    justify-content: center;
  }
  .statement_child_part {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h4 {
      max-width: 50%;
      font-size: large;
    }
  }

  .line_one {
    width: 2px;
    height: 100px;
    color: black;
    background-color: black;
  }
  .line_two {
    display: flex;
    align-items: flex-end;
    width: 2px;
    height: 100px;
    background-color: black;
  }
}
