.style_parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.style_part_one {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 2rem;
  margin-inline: 1rem;
}
.style_part_two {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 2rem;
  margin-inline: 1rem;
}
.style_part_three {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 2rem;
  margin-inline: 1rem;
}

.style_child {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-right: 3rem;
  gap: 10px;
}
.style_child h2 {
  font-size: medium;
}

.next_img {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}
.next_img img {
  width: 12%;
}
@media only screen and (min-width: 1280px) {
  .style_parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    justify-content: center;

    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  .style_part_one {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }
  .style_child {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 3rem;
    align-items: center;
    gap: 20px;
  }
  .style_child h2 {
    width: 70%;
  }

  .next_img {
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    gap: 50px;
  }
  /* .next_img img {
    width: 10%;
  } */
}
