.planner_parent {
  display: flex;
  margin-top: 100px;
  margin-inline: 1rem;
  gap: 6rem;
  align-items: center;
  flex-direction: column;
  margin-bottom: 6rem;
  padding-bottom: 4rem;
}
.top_left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.para_left {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 18px;
}
.img_right {
  display: flex;
  justify-content: end;
}
.img_right img {
  width: 10%;
}
/* .para_left {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 8%;
  & h3 {
    font-size: 12px;
  }
  & p {
    font-size: 10px;
  }
}
.img_right {
  display: flex;
  justify-content: end;
}
.img_right img {
  width: 10%;
} */
.top_right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.bottom_left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.bottom_right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media only screen and (min-width: 1280px) {
  .planner_parent {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 100px;
    margin-inline: 15rem;
    gap: 1rem;
  }

  .para_left {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .img_right {
    display: flex;
    justify-content: end;
    margin-left: 11rem;
  }
  .img_right img {
    width: 40%;
  }
  .top_left {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .top_right {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .bottom_left {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .bottom_right {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
